[Unit]
Description=GPG Relay Agent
Requires=gpg-relay-agent.socket
Requires=gpg-relay-agent-extra.socket
Requires=gpg-relay-agent-browser.socket
Wants=gpg-relay-agent-ssh.socket
After=gpg-relay-agent.socket gpg-relay-agent-extra.socket gpg-relay-agent-browser.socket gpg-relay-agent-ssh.socket

[Service]
Type=simple
ExecStart=/usr/bin/ruby /path/to/gpg_relay_wsl.rb --systemd --enable-ssh-support --mode=mirrored
Environment='PATH=/usr/local/bin:/usr/bin:/bin:/mnt/c/Program Files/GnuPG/bin'
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=gpg-relay-agent

[Install]
WantedBy=default.target
